<mat-card class="example-card">
  
    <mat-card-header>
        <div mat-card-avatar *ngIf = "categoryImage"> 
           <img [src] = "categoryImage"> 
        </div>
        <mat-card-title>
          <mat-select  [(ngModel)] = "category" name = "category" >
            <mat-option *ngFor = "let category of categories" [value]="category.cat">{{category.cat}}</mat-option>
          </mat-select>
          <!-- <select  matcategoryControl required>
            <option value="" selected>{{category}}</option>
            <option *ngFor="let car of categories" [value]="car.value">
              {{car.cat}}
            </option>
        </select> -->
        </mat-card-title>
        <mat-card-subtitle>classification result</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div ng-controller="savePosts"> 
          <!-- <button mat-raised-button color="primary" (click)="addclassify()">Push To FireStore</button> -->
        <p>
          {{classifyService.doc}}
        </p>
      </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button  mat-raised-button color="primary" (click)="addclassify()">Save</button>
      </mat-card-actions>
    
    </mat-card>
    
    